body {
	background: linear-gradient(to top right, violet, yellow, orange, red);
	text-align: center;
	background-attachment: fixed;
}

.jumbotron {
	margin-top: 10px;
	background-color: transparent !important;
	font-family: monospace;
}

.minesbox {
	border: 1px solid #333;
	display: inline-block;
	margin-bottom: 20px;
}

.row {
	font-size: 0px;

}

.col {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: #eef;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	vertical-align: top;
	color: black;
	font-size: 20px;
	line-height: 40px;
	transition: all 0.5s;
}

/*.col.hiddens.bomb {
	background-color: red;
}*/

.col.hiddens {
	background-image: url(icons/tile.ico);
	background-size: 40px;
	cursor: pointer;
}

.col.hiddens:hover {
	/*background-color: black;*/
	opacity: 0.8;
}

.row:last-child .col {
	border-bottom: none;
}

.row .col:last-child {
	border-right: none;
}

.bombed {
	background-image: url("icons/mine.ico");
	background-size: 40px;
}

.col.flagged {
	background-image: url("icons/tile3.ico");
	background-size: 40px;
}